/* HomeMainContent.module.css */
* {
    box-sizing: border-box;
}

.main-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "main-content-header"
        "main-content-body";
    gap: 0px;
    height: 100%;
}


.main-content-header {
    grid-area: main-content-header;
    display: flex;
    height: 56px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

.search-projects {
    border-radius: 53px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    height: 56px;
    width: 100%;
    padding-left: 60px;
    background-image: url('/assets/search.svg');  /* Added background image */
    background-position: 27px center;  /* Positioned the background image */
    background-repeat: no-repeat;  /* Ensure the image doesn't repeat */
    background-size: 20px;  /* Size the image */
    font-size: 16px;
}

.create-project {
    width: 225px;
    height: 56px;
    padding: 9.861px 19.722px;
    justify-content: center;
    align-items: center;
    gap: 4.109px;
    flex-shrink: 0;
    border-radius: 53px;
    border: 0.822px solid var(--neutral-40, #E2E8F0);
    background: #522D80;
    color: #fff;
    font-size: 16px;
}


.main-content-body {
    grid-area: main-content-body;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    padding: 0;  /* Remove padding */
    margin: 0;  /* Remove margin */
    border: 0;  /* Remove border */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #3d3d3d #c0c5ca;  /* Firefox */
}

/* Chrome, Safari, and Edge */
.main-content-body::-webkit-scrollbar {
    width: 12px;
}

.main-content-body::-webkit-scrollbar-track {
    background-color: #c0c5ca;
    border-radius: 10px;
}

.main-content-body::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 10px;
}