body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-body {
    display: flex;
    padding: 0px 18.25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    max-width: 90%;
    width: 100%;
}

.login {
    display: flex;
    padding: 16px 134px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 36px;
    background: #522D80;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

@media (max-width: 768px) {
    .login-buttons-container {
        flex-direction: column;
    }

    .login {
        width: 100%;
    }
}