/* Reset and Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Container Styles */
.register-body {
    display: flex;
    padding: 41px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 79px;
}

.main-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
}

.image img {
    overflow: hidden;
    height: 90vh;
    width: auto;
    border-radius: 36px;
}
/* Logo Styles */
.logo {
    padding-top: 20px;
    height: 100px;
    cursor: pointer;
}

.logo img {
    max-width: 150px;
}


/* Register.module.css */
.dropdown {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}


/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;  /* Ensures form container takes the full width */
}

h1 {
    margin: 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.two-inputs-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; 
}

/* Terms of Service Styles */
.tos {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.tos input {
    width: 20px;
    height: 20px;
}

.tos label {
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures that the text does not overflow the container visibly */
    text-overflow: ellipsis; /* Adds an ellipsis (...) for overflowed text */
    width: calc(100% - 25px); /* Assuming 20px for checkbox and 5px as a minimal gap */
    max-width: 80%; /* Optionally limit the maximum width */
}

/* register styles */
.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.register-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.register-button {
    padding: 21px;
    border: none;
    border-radius: 36px;
    background-color: #522D80;
    color: white;
    cursor: pointer;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

.page-count{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 16px;
}
