/* Reset and Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Container Styles */
.register-body {
    display: flex;
    padding: 41px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 79px;
}

.main-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;
}

.image img {
    overflow: hidden;
    height: 90vh;
    width: auto;
    border-radius: 36px;
}
/* Logo Styles */
.logo {
    padding-top: 20px;
    height: 100px;
    cursor: pointer;
}

.logo img {
    max-width: 150px;
}

/* Form Styles */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 100%;  /* Ensures form container takes the full width */
}

h1 {
    margin: 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.name-inputs {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;  /* Ensures name-inputs container takes the full width */
}

.text-input {
    box-sizing: border-box;  /* Ensures padding and border are within the element's dimensions */
    width: calc(50% - 5px);  /* Adjusts the width to account for the gap */
    padding: 21px;
    padding-left: 50px;  /* Adjusted padding to make space for the icon */
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    background-image: url('/assets/name-user-outline.svg');  /* Added background image */
    background-position: 15px center;  /* Positioned the background image */
    background-repeat: no-repeat;  /* Ensure the image doesn't repeat */
    background-size: 20px;  /* Size the image */
}


/* File Input Styles */
.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.file-input-label {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center align items */
    justify-content: center; /* Center justify content */
    width: 100%;
    padding: 21px;
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.file-input {
    display: none; /* Hide the actual file input */
}

.file-input-icon {
    /* Remove absolute positioning */
    /* position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); */
    height: auto;
    width: auto;
}

/* File Input Styles */
.input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.file-input-label {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center align items */
    justify-content: center; /* Center justify content */
    width: 100%;
    padding: 21px;
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.file-input {
    display: none; /* Hide the actual file input */
}

.file-input-icon {
    height: 56px;
    width: auto;
}

.file-input-text {
    font-size: 12px;
}

/* Toggle Roles */
.toggle-role-container {
    display: flex;
    width: 100%;  
    justify-content: space-between;
    align-items: center;
}

.role-toggle {
    display: flex;
    width: calc(100% - 100px);
    height: 70px;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
}

.selector {
    flex-grow: 1;
    height: 70px;
    padding: 0;
    border-radius: 48px;
    background: rgba(82, 45, 128, 0.50);
    position: relative;
    margin: 0 20px;
    min-width: 70px;
    transition: transform 0.3s ease-in-out; 
}

.left {
    transform: translateX(-86%);
}

.right {
    transform: translateX(86%); 
}

.toggler-container {
    display: flex;
    justify-content: center;
    width: 67px;
}

.toggler {
    cursor: pointer;
}

/* Terms of Service Styles */
.tos {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.tos input {
    width: 20px;
    height: 20px;
}

/* Button Styles */
.form button {
    padding: 21px;
    border: none;
    border-radius: 36px;
    background-color: #522D80;
    color: white;
    cursor: pointer;
    width: 100%;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}
