.select-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.colleges-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.departments-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.majors-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.minors-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-input {
    box-sizing: border-box; 
    width: 100%;
    padding: 21px;
    border-radius: 48px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    position: relative;
}

.selected-department, .selected-college, .selected-major, .selected-minor {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.42);
    background-color: #fff;
    border-radius: 48px;
}

.remove-button {
    background-color: #fff;
    border: none;
}

.remove-button img{
    height: 10px;
    width: 10px;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
    border-radius: 8px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it sits over other content */
}

.dropdown li {
    padding: 12px 21px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.dropdown li:hover,
.dropdown li:focus {
    background-color: #f0f0f0;
}

.dropdown li:last-child {
    border-bottom: none;
}

/* If you want to add a "no results" styling */
.no-results {
    padding: 12px 21px;
    font-size: 14px;
    color: #888;
}


.css-13cymwt-control {
    border: none;
    box-shadow: none;
    background-color: #522D80;
}